<div class="container">
  <div class="container-default">
    <div class="row">
      <div class="col-lg-6">
        <i class="fa fa-eye" aria-hidden="true"></i> <%= @article.views %>
      </div>
      <div class="col-lg-6">
        <i class="fa fa-tag" aria-hidden="true"></i> <%= @article.category.title %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-2 text-center">
        <% if @article.user.avatar.blank? %>
          <%= image_tag("profile-icon.png", class: 'card-img-top')  %>
        <% else %>
          <%= cl_image_tag(@article.user.avatar, class: 'card-img-top') %>
        <% end %>
        <div class="row">
          <div class="col-lg-12">
            <%= @article.user.username %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <%= t @article.language.name %>
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <h1><%= @article.title %></h1>
        <hr>
        <%= raw @article.content %>
        <br>
        <div class="posting-votes">
          <%= link_to(upvote_article_path(@article), method: :put) do %>
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <% end %>
          <%= @article.get_upvotes.size%>

          <%= link_to(downvote_article_path(@article), method: :put) do %>
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
          <% end %>
          <%= @article.get_downvotes.size%>
        </div>
      </div>
    </div>
  </div>
</div>
