<div class="user-aside-section container-default">
  <div class="user-aside-header">
    <%= link_to edit_user_path(current_user) do %>
      <%= render partial: "shared/user/avatar" %>
    <% end %>
    <p class="no-marging"><%= current_user.username %></p>
    <p class="no-marging"> <%= t 'rooms_text' %>: <%= current_user.created_rooms %></p>
    <p class="no-marging"> <%= t 'articles_text' %>: <%= current_user.created_articles %></p>
    <p class="no-marging"> Debates: <%= current_user.created_debates %></p>
    <% if profile_incomplete? current_user %>
      <p class="m-2 red"> Seu perfil está incompleto!  </p>
    <% end %>
  </div>
  <div class="list-group">
    <%= link_to t('my_rooms'), my_rooms_users_url, class: 'list-group-item my-rooms' %>
    <%= link_to t('my_debates'), my_debates_users_url, class: 'list-group-item my-debates' %>
    <%= link_to t('my_articles'), my_article_users_url, class: 'list-group-item my-articles' %>
    <!-- <a href="#" class="list-group-item">Estatisticas</a> -->
  </div>
</div>
