<h2> <%= t 'application.settings' %> </h2>

<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, class: 'form-control input-lg', placeholder: "Your username" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control input-lg', placeholder: "Email" %>
  </div>

  <div class="form-group">
    <%= f.label :country %><br />
    <%= f.text_field :country, autofocus: true, class: 'form-control input-lg', placeholder: "Country" %>
  </div>
  <hr>
  <div class="form-group">
    <h5 for=""> idioma que você domina </h5>
    <br>
    <%= f.fields_for :user_known_languages do |ff| %>
      <div class="row">
        <div class="col-lg-4">
          <%= ff.label :language %><br>
          <%= ff.select(:known_languages_id, @languages, {}, { class: 'custom-select' }) %>
        </div>
        <div class="col-lg-4">
          <%= ff.label :speak %><br />
          <%= ff.select(:speak, [], {}, { :class => 'custom-select' }) do %>
            <%= options_for_select(select_levels('number'), ff.object.speak) %>
          <% end %>
        </div>
        <div class="col-lg-4">
          <%= ff.label :write %><br />
          <%= ff.select(:write, [], {}, { :class => 'custom-select' }) do %>
            <%= options_for_select(select_levels('number'), ff.object.write) %>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
  </div>
  <hr>
  <div class="form-group">
    <h5 for=""> idioma que está estudando </h5>
    <br>
    <%= f.fields_for :user_languages_studieds do |ff| %>
      <div class="row">
        <div class="col-lg-4">
          <%= ff.label :language %><br>
          <%= ff.select(:languages_studied_id, @languages, {}, { class: 'custom-select' }) %>
        </div>
        <div class="col-lg-4">
          <%= ff.label :speak %><br />
          <%= ff.select(:speak, [], {}, { :class => 'custom-select' }) do %>
            <%= options_for_select(select_levels('number'), ff.object.speak) %>
          <% end %>
        </div>
        <div class="col-lg-4">
          <%= ff.label :write %><br />
          <%= ff.select(:write, [], {}, { :class => 'custom-select' }) do %>
            <%= options_for_select(select_levels('number'), ff.object.write) %>
          <% end %>
        </div>
      </div>
      <br>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit "Update", class: 'btn btn-success' %>
  </div>
<% end %>

  <hr>
  <h4> Account </h4>

  <!-- FIXME: change password -->

  <%= button_to "Cancel my account", registration_path(user), data: { confirm: t('sure?') }, method: :delete, class: 'btn btn-danger' %>
