<div class="container">
  <div class="row">
    <div class="col-lg-3 aside-my-rooms">
      <%= render "users/shared/aside" %>
    </div>
    <div class="col-lg-9">
      <div class="user-main-section container-default">
        <div class="row">
          <div class="col-lg-8">
            <h2> <%= t('my_rooms') %> </h2>
          </div>
          <div class="col-lg-4">
            <%= link_to t('create_room'), new_room_url, class: 'float-right' %>
          </div>
        </div>
        <div class="row">
          <%= render partial: "shared/room_card", collection: @rooms, as: :room %>
        </div>
        <div class="more-models">
          <%= link_to t('more_rooms'), rooms_path %>
        </div>
      </div>
    </div>
  </div>
</div>
