<p id="notice"><%= notice %></p>

<%= link_to 'Criar nova sala', new_room_url %>

<h2>All rooms</h2>

<% @rooms.each do |room| %>
  <h3> <%= room.user.username %> </h3>
  - <%= link_to 'acessar', room.link, target: "_blank" %> <br/>
  - <%= room.language.name %> <br/>
  - <%= room.level %> <br/>
  - <%= t time_ago_in_words room.created_at %> <br/>
  <% if can? :update, room %>
    <%= link_to 'Edit', edit_room_path(room) %>
  <% end %>
  <% if can? :destroy, room %>
    <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  <hr>
<% end %>
