<div class="col-lg-4 col-md-6 mt-3 model-card">
  <div class="card h-100">
    <div class="card-body">
      <div class="pull-left card-created-at">
        <%= t time_ago_in_words room.created_at %>
      </div>
      <div class="share-link-card pull-right">
        <a href="" class="btn-facebook" data-link="<%= room.link %>">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="" class="btn-twitter" data-link="<%= room.link %>">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
      <div class="card-actions pull-right">
        <% if can? :update, room %>
          <%= link_to(edit_room_path(room)) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <% if can? :destroy, room %>
          <%= link_to(room, method: :delete, data: { confirm: t('sure?') }) do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
      <hr>
      <%= link_to(room.link, class: 'model-link', target: '_blank') do %>
        <h4>
          <i class="fa fa-globe" aria-hidden="true"></i> <%= t room.language.name %>
        </h4>
        <h6>
          <i class="fa fa-star" aria-hidden="true"></i> <%= t room.level %>
        </h6>
        <div class="row">
          <div class="col-md-4 col-lg-4 card-img-wrap">
            <% if room.user.avatar.blank? %>
              <%= image_tag("profile-icon.png", class: 'card-img-top')  %>
            <% else %>
              <%= cl_image_tag(room.user.avatar, class: 'card-img-top') %>
            <% end %>
          </div>
          <div class="col-md-6 col-lg-6 no-padding">
            <p class="text-center card-username-room"><%= room.user.username %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
