<div class="container container-default" id='singup'>
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-3">
			<fieldset>
				<h2><%= t 'more_information.almost_there' %></h2>
        <h6><%= t 'more_information.info_about_u' %></h6>
        <hr class="colorgraph">

        <%= form_for(current_user, as: :user, url: user_information_path(id: current_user.id), method: :patch) do |f| %>
          <div class="form-group">
            <label for=""><%= t 'more_information.where_u_from' %></label><br />
            <%= f.select(:country, [], {}, { class: 'custom-select' }) do %>
              <%= options_for_select(select_countries, f.object.country) %>
            <% end %>
          </div>

          <div class="form-group">
            <h5 for=""> <%= t 'more_information.language_study' %> </h5>
            <br>
            <div class="user_languages_studieds">
              <%= f.fields_for :user_languages_studieds do |ff| %>
                <%= render partial: 'shared/languages_studieds_fields', locals: {f: ff} %>
                <br>
              <% end %>
            </div>
            <%= link_to_add_association 'Add', f, :user_languages_studieds, class: 'btn', partial: 'shared/languages_studieds_fields',
                data: { association_insertion_node: '.user_languages_studieds', association_insertion_method: :append } %>
          </div>

          <div class="form-group">
            <h5 for=""> <%= t 'more_information.main_language' %> </h5>
            <br>
            <div class="user_known_languages">
              <%= f.fields_for :user_known_languages do |ff| %>
                <%= render partial: 'shared/known_languages_fields', locals: {f: ff} %>
                <br>
              <% end %>
            </div>
            <%= link_to_add_association 'Add', f, :user_known_languages, class: 'btn', partial: 'shared/known_languages_fields',
                data: { association_insertion_node: '.user_known_languages', association_insertion_method: :append } %>
          </div>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <%= f.submit(t('continue') , class: 'btn btn-lg btn-success btn-block') %>
            </div>
          </div>
        <% end %>
			</fieldset>
  	</div>
  </div>
</div>
