<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :language %>
    <%= form.select(:language_id) do %>
      <% @languages.each do |lang| -%>
        <%= content_tag(:option, t(lang[0]), value: lang[1]) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.select(:level) do %>
      <% select_levels.each do |level| -%>
        <%= content_tag(:option, level[0], value: level[1]) %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
