<!DOCTYPE html>
<html>
  <head>
    <title>Bnativus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= content_tag :body, data: { action: action_name, controller: controller_name } do %>
    <% unless show_nav_bar?(action_name, controller_name) %>
      <%= render 'layouts/nav_bar' %>
    <% end %>

    <div class="container main-div">
      <% if notice %>
        <p class="alert alert-info alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= alert %>
        </p>
      <% end %>

      <%= raw flash_message %>
      <%= yield %>
    </div>

    <% unless show_footer?(action_name, controller_name) %>
      <%= render 'layouts/footer' %>
    <% end %>
  <% end %>
</html>
