<!DOCTYPE html>
<html>
  <head>
    <title>Bnativus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <%= t('application.hello') %> <%= link_to  " #{current_user.username}!", user_path(current_user) %> <br>
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to t('application.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('application.signup'), new_user_registration_path %> |
      <%= link_to t('application.loginin'), new_user_session_path %> |
      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
    <% end %>
    <br>
    <strong><%= t 'application.language_text' %>:</strong>
    <%= link_to_unless_current t('language_ptbr'), locale: 'pt-br' %> |
    <%= link_to_unless_current t('language_en'), locale: 'en' %>

    <%= yield %>
  </body>
</html>
